@model dependency_injection_example.Models.guidServicesModel

<h3>Singleton</h3>
@Model.guidSingleton
<br />
<br />
<h3>Scoped 1</h3>
@Model.guidScoped1
<br />
<br />
<h3>Scoped 2</h3>
@Model.guidScoped2
<br />
<br />
<h3>Transient 1</h3>
@Model.guidTransient1
<br />
<br />
<h3>Transient 2</h3>
@Model.guidTransient2